<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants/>
    <permissions>
        <permission action="procShopxeInsertShop" target="member" />
    </permissions>
    <actions>
		
		<!-- 
		*************************************
		*  주문 관련 Node
		*************************************
		-->
        <action name="insertPurchaseCookie" type="controller" />
        <action name="insertPurchase" type="controller" />
        <action name="triggerCompletePayment" type="controller" />

        <action name="dispShopxeInsertPurchase" type="view" />
        <action name="dispShopxeUpdatePurchaseStep" type="view" />
        <action name="dispShopxePurchasePayment" type="view" />
        <action name="dispShopxePurchaseResult" type="view" />

		<!-- 
		*************************************
		*  장바구니 관련 Node
		*************************************
		-->
        <action name="insertCartCookie" type="controller" />
		<action name="deleteCartCookie" type="controller" />

        <action name="dispShopxeCartList" type="view" />

		<!-- 
		*************************************
		*  위시리스트 관련 Node
		*************************************
		-->
        <action name="procShopxeInsertWish" type="controller" />
        <action name="procShopxeDeleteWish" type="controller" />

        <action name="dispShopxeWishList" type="view" />

		<!-- 
		*************************************
		*  결제정보 관련 Node
		*************************************
		-->
        <action name="procShopxeUpdatePaymentSettlementInfo" type="controller" />

		<!-- 
		*************************************
		*  기타
		*************************************
		-->
        <action name="dispShopxePurchaseList" type="view" index="true" />
        <action name="dispShopxeCancelList" type="view" />
        <action name="dispShopxePurchaseManage" type="view" />
        <action name="dispShopxeAdminIndex" type="view" />
        <action name="dispShopxeAdminShopManage" type="view" standalone="true" setup_index="true" />
        <action name="procShopxeInsertShop" type="controller" />
        <action name="dispShopxeAdminPurchaseList" type="view" standalone="true" admin_index="true" />
        <action name="dispShopxeAdminPurchaseManage" type="view" />
        <action name="dispShopxeAdminDeletePurchase" type="view" />
        <action name="dispShopxeAdminPaymentList" type="view" />
        <action name="dispShopxeAdminPaymentManage" type="view" />
        <action name="dispShopxeAdminSkinInfo" type="view" />
        <action name="dispShopxeAdminLogInfo" type="view" />

		<!-- 제품설명으로부터 주문받기 -->
        <action name="procShopxeUpdatePurchase" type="controller" />
        <action name="procShopxeDeletePurchase" type="controller" />
        <action name="dispShopxeUpdatePurchase" type="view" />
        <action name="dispShopxeDeletePurchase" type="view" />

	 </actions>
</module>
