@charset "utf-8";

/*
	덧니희야 - shopxe 모듈 기본스킨
*/

#shopxe_shop .lineClear { height:5px; clear:both; }

#shopxe_shop a,
#shopxe_shop a:hover,
#shopxe_shop a:visited,
#shopxe_shop a:focus { text-decoration:none; }


/* infomationBar */
#shopxe_shop .infomationBar
{
	width:100%;
	height:28px; font-size:12px; line-height:28px;
	color:#4d4d4d; text-decoration:none !important; overflow:visible;
	background-color:transparent;
	border-top:1px solid transparent;
	border-bottom:1px solid #eeeeee;
	margin:0px 0px 5px 0px;
	padding:5px 0px 5px 0px;
}
#shopxe_shop .infomationBar h3
{
	float:left;
	vertical-align:middle;
	margin:0px 5px 0px 5px;
}
#shopxe_shop .infomationBar .shopxeBtn
{
	float:right;	
	margin:0px 2px 0px 0px;
}

/* Button */
#shopxe_shop .btn,
#shopxe_shop .btn span,
#shopxe_shop .btn a{ position:relative; vertical-align:middle; display:inline-block; height:24px; font-size:12px; line-height:24px; color:#4d4d4d; cursor:pointer; background-image:url("../img/common/btn_common_bg.gif"); background-repeat:no-repeat; text-decoration:none !important; overflow:visible; border:0; padding:0; background-color:transparent;}

#shopxe_shop .btn{ background-position:left top; margin-right:4px;}
#shopxe_shop .btn span,
#shopxe_shop .btn a{ left:4px; background-position:right top; padding:0 8px 0 4px;}

#shopxe_shop .titleBox
{
	width:100%;
	background-color:#ccc;
	padding:1px 0px 1px 0px;
}

#shopxe_shop .titleBox .subject
{
	width:100%;
	position:relative; vertical-align:middle; display:inline-block; height:40px; font-size:12px; line-height:20px;
	color:#fff; text-decoration:none !important; overflow:visible;
	background-color:#2c2c2c;
	border-top:1px solid #555555;
}
#shopxe_shop .titleBox .subject span
{
	padding:0px 0px 0px 15px;
}


#shopxe_shop .titleBox .memo
{
	width:100%;
	position:relative; vertical-align:middle; display:inline-block; height:28px; font-size:12px; line-height:28px;
	color:#4d4d4d; text-decoration:none !important; overflow:visible;
	background-color:#efefef;
	border-bottom:1px solid #999999;
}

#shopxe_shop .titleBox .memo span
{
	padding:0px 0px 0px 15px;
}

#shopxe_shop .shopList 
{
	width:100%;
	position:relative; vertical-align:middle; display:inline-block;
	background-color:#fcfcfc;
	border:1px solid #c9c9c9;
	border-collapse: collapse;
}

#shopxe_shop .shopList caption {display:none;}

#shopxe_shop .shopList thead 
{
	width:100%; 
	height:40px; font-size:12px; line-height:40px;
	color:#4f4f4f; text-decoration:none !important; overflow:visible;
	background:url(../img/common/table_top_bg.gif);
	padding:20px 0px 20px 0px;
}

#shopxe_shop .shopList tbody
{
	text-align:center;
}

#shopxe_shop .shopList tbody td
{
	height:80px;
	border-bottom:1px double #c9c9c9;
}

#shopxe_shop .shopList tbody td .cartProduct
{
	text-align:left;
}

#shopxe_shop .shopList tbody td .cartProduct img
{
	border:2px #666666 solid;
	padding:5px;
}

#shopxe_shop .shopList tbody .inputTypeTextNone
{
	width:120px;
	border:none;
	text-align:right;
	margin:0px 5px 0px 0px;
}

#shopxe_shop .priceBox 
{
	width:100%; height:40px;
	background-color:#fcfcfc;
	border:1px solid #c9c9c9;
	border-collapse: collapse;
	text-align:right;
	margin:5px 0px 5px 0px;
}

#shopxe_shop .priceBox .total
{
	float:right;
	margin:10px;
}

#shopxe_shop .priceBox input
{
	width:120px;
	border:none;
	text-align:right;
	margin:0px 5px 0px 0px;
}

#shopxe_shop .rightButtonBox
{
	float:right;
}

#shopxe_shop .purchase
{
	width:100%; 
	height:250px; font-size:12px; line-height:25px;
	color:#4f4f4f; text-decoration:none !important; overflow:visible;
	border:1px solid #c9c9c9;
	padding:20px 0px 20px 0px;
	border-collapse: collapse;
	border-top:none;	
}

#shopxe_shop .purchase th
{
	background-color:#eeeeee;
	border-bottom:1px solid #c9c9c9;
	width:150px;
	text-align:center;
}

#shopxe_shop .purchase td
{
	border-bottom:1px solid #c9c9c9;
	padding:10px 0px 10px 10px;
}

#shopxe_shop .title_box
{
	margin:10px 0px 0px 0px;
	background:url(../img/common/table_top_bg.gif);
	height:40px;
}

#shopxe_shop .title_subject
{
	width:60%;
	text-align:left;
	float:left;
	font-size:18px; line-height:40px; font-weight:bold;
	margin-left:10px;
}

#shopxe_shop .targetBlank
{
	width:30%;
	text-align:right;
	float:right;
	padding:10px 0px 0px 0px;
	margin-right:10px;
}


#shopxe_shop table.e_point_seacher {  }
#shopxe_shop table.e_point_seacher th { font-weight:normal; width:80px; height:35px; border-bottom:1px solid #DEDEDE; }
#shopxe_shop table.e_point_seacher td { font-weight:normal; height:35px; border-bottom:1px solid #DEDEDE; }

/* pagination */
#shopxe_shop .shopPaginate { text-align:center; font:bold 11px Tahoma; padding-top:8px; padding-bottom:4px; padding-top:25px; border-top:1px solid #EFEFEF; }
#shopxe_shop .shopPaginate a { padding:4px 7px 4px 7px; margin: 4 0 0 0; font:bold 11px Tahoma; text-decoration:none;color:#999; border:1px solid #eee; }
#shopxe_shop .shopPaginate strong { padding:4px 7px 4px 7px; font:bold 1em Tahoma; text-decoration:none; border:1px solid #c9c9c9; background:#f7f7f7; color:#555; }
#shopxe_shop .shopPaginate a:hover { padding:4px 7px 4px 7px; font:bold 11px Tahoma; margin: 0 0 0 0; text-decoration:none;color:#555; border:1px solid #c9c9c9; background:#f7f7f7; }
#shopxe_shop .shopPaginate a:visited { font:bold 11px Tahoma; }
#shopxe_shop .shopPaginate a.prevEnd img, .pagination a.nextEnd img { margin-bottom:-2px; padding:4px 0 4px 0;}




















/* footerBar */
#shopxe_shop .footerBar
{
	width:100%;
	height:28px; font-size:12px; line-height:28px;
	color:#4d4d4d; text-decoration:none !important; overflow:visible;
	background-color:transparent;
	border-top:1px solid #eeeeee;
	margin:0px 0px 5px 0px;
	padding:5px 0px 5px 0px;
}
