@charset "utf-8";

#category_list { padding:.5em 0 .5em 0; margin-bottom:2em; width:250px; overflow:hidden; float:left; position:absolute; left:10px;}
#category_info { width:560px; position:absolute; margin:0 auto; left:0; right:0; z-index:9999;}

/* list button */
.leftButtonBox { float: left; }
.rightButtonBox { float: right; }

.rowTable tbody .tr1 { background-color:#eeeeee; }
.rowTable tbody .tr2 { background-color:#ffffff; }